{% extends 'layout/base.twig' %}

{% block page_title %}Sebo Online{% endblock %}
{% block page_subtitle%}Tipos de Produtos{% endblock %}
{% block alert%}Preencha o formulário para cadastrar. {%endblock%}

{% block content %}
    <h1 class="mb-4">Novo Tipo de Produto</h1>
    <form action="/sebo/public/tipos/criar"  method="POST">
        <div class="field">
            <label class="label">Nome</label>
            <div class="control">
                <input class="input" type="text" name="nome" placeholder="Nome do Tipo" required>
            </div>
            <p class="help">Se tiver dúvidas, procure pela <strong><a href="/sebo/public/tipos">lista</a></strong> se já existe um.</p>
        </div>
        <button type="submit" class="button is-success">Salvar</button>
    </form>
{% endblock %}