<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sebo Online{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="http://localhost/sebo/public/assets/style.css">
</head>
<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <p class="title">{% block page_title %}Título Padrão{% endblock %}</p>
            <p class="subtitle">{% block page_subtitle %}Subtítulo Padrão{% endblock %}</p>
        </div>
    </section>
    <section class="section">
        <div class="content">
            <div class="container">
                <div class="notification is-primary">
                    <!--Mensagem de <strong>teste</strong>. Usar este template do container para sucesso ou erro nas operações.-->
                    {% block alert %}{% endblock %}
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </section>
    <footer class="footer">
        {% include 'layout/footer.twig' %}
    </footer>
</body>
</html>