<footer class="text-center mt-4 py-3 bg-light">
    <p>&copy; {{ "now"|date("Y") }} Sebo Online. Todos os direitos reservados.</p>
    <p>Desenvolvido por <a href="https://github.com/apprendendo" target="_blank">Apprendendo</a></p>
</footer>