{% extends 'layout/base.twig' %}

{% block page_title %}Sebo Online{% endblock %}
{% block page_subtitle %}Cadastro de Produtos{% endblock %}
{% block alert %}Preencha o formulário para cadastrar.{% endblock %}

{% block content %}
    <h1 class="title">Novo Produto</h1>
    <form action="/sebo/public/produtos/criar" method="POST">
        <div class="field">
            <label class="label">Tipo de Produto</label>
            <div class="select">
                <select name="tipo_id" class="form-select" required>
                    {% for tipo in tipos %}
                    <option value="{{ tipo.id }}">{{ tipo.nome }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="field">
            <label class="label">Ano de Publicação</label>
            <div class="control">
                <input class="input" type="number" name="ano_publicacao" placeholder="Ano" required>
            </div>
            <p class="help">Informe um ano válido.</p>
        </div>
        <div class="field">
            <label class="label">Título</label>
            <div class="control">
                <input class="input" type="text" name="titulo" placeholder="Título" required>
            </div>
            <p class="help">Se tiver dúvidas, procure pela <strong><a href="/sebo/public/produtos">lista</a></strong> se já existe um.</p>
        </div>
        <div class="field">
            <label class="label">Autor</label>
            <div class="control">
                <input class="input" type="text" name="autor" placeholder="Nome do Autor" required>
            </div>
            <p class="help">Se tiver dúvidas, procure pela <strong><a href="/sebo/public/produtos">lista</a></strong> se já existe um.</p>
        </div>
        <div class="field">
            <label class="label">Preço</label>
            <div class="control">
                <input class="input" step="0.01" type="number" name="preco" placeholder="Preço" required>
            </div>
            <p class="help">Informe um valor, se possível, com casas decimais.</p>
        </div>
        <div class="field">
            <label class="label">Condição de Produto</label>
            <div class="select">
                <select name="estado" class="form-select" required>
                    <option value="Novo">Novo</option>
                    <option value="Usado - Como novo">Usado - Como novo</option>
                    <option value="Usado - Bom estado">Usado - Bom estado</option>
                    <option value="Usado - Desgastado">Usado - Desgastado</option>
                </select>
            </div>
        </div>
        <br/>
        <button type="submit" class="button is-success">Salvar</button>
    </form>
{% endblock %}