{% extends 'layout/base.twig' %}

{% block title %}Página Inicial - Sebo Online{% endblock %}

{% block content %}
    <h1>Bem-vindo ao Sebo Online!</h1>
    <p>Explore nossa coleção de livros usados e encontre o que você procura.</p>
    <a href="./produtos" class="btn btn-primary">Ver Produtos</a>
    <a href="./tipos" class="btn btn-primary">Ver Tipos de Produtos</a>
{% endblock %}